<div id='modalAutoSave' class='modal hide fade'>
  <div class='modal-header'>
    <h3>You have unsaved local changes</h3>
  </div>
  <div class='modal-body'>
    <p>
    You have made local changes to this map that were not saved. 
    Please choose if you would like to apply them or discard them and continue with the saved version.
    </p>
  </div>
  <div class='modal-footer'>
    <a data-category="Auto Save" data-event-type="Apply" href='#' data-mm-role='apply' class='btn btn-primary'>Apply local changes</a>
    <a data-category="Auto Save" data-event-type="Discard" href='#' data-mm-role='discard' class='btn'>Discard local changes</a>
  </div>
</div>
