<div id='modalExtensions' class='modal hide fade'>
  <div class='modal-header'>
    <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
    <h3>Extensions</h3>
  </div>
  <div class='modal-body'>
	  <div data-mm-role="ext-list">
		<div data-mm-role="template">
		  <input type="checkbox"> <h4 data-mm-role="title"></h4><p data-mm-role="desc"> (<a data-mm-role="doc" target="_blank">more info</a>)</p>
		</div>
	</div>
  </div>
  <div class='modal-footer'>
    <a href='#' data-dismiss='modal' class='btn btn-primary'>Close</a>
  </div>
</div>
